<!DOCTYPE html>
<html lang="pl" ng-app="competition">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Zawody</title>
</head>
<body ng-controller="competitionCtrl">
<div class="blackShadow"></div>
  <div class="myMenu menu-centered">
    <ul class="menu">
      <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
      <li><a href="/competitionlist">Zawody</a></li>
      <li><a href="/live">Transmisje</a></li>
      <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
         <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
           <ul class="submenu">
             <li><a href="/referee">Sędziowie</a></li>
             <li><a href="/horses">Konie</a></li>
             <li><a href="/competitions">Zawody</a></li>
             <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
           </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  <% if (isAuthenticated) { %>
    <% if (user.type=== 'admin') { %>
    
  <!-- Listowanie  Zawodów -->
  <div class="row tableList" >
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-2 columns">nr.</td>
            <td class="small-6 medium-6 columns">nazwa</td>
            <td class="small-6 medium-4 columns"></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="competition in competitions">
            <td class="small-6 medium-2 columns">{{$index+1}}</td>
            <td class="small-6 medium-6 columns">{{competition.name}} </td>      
            <td class="small-6 medium-4 columns">
              <a href=""  ng-click="startCompetitionTransmision( competition._id )" >Rozpocznij Transmisje</a>
              <a href=""  ng-click="endCompetitionTransmision( competition._id )"  style="display:block">Wyłącz Transmisje</a>
            </td>      
          </tr>
        </tbody>
      </table>
  </div>   

  <!-- TRANSMISJA -->
  <div class="transmisionAdmin row" style="display:none">
    <div class="single  tableList" >
      <table >
        <thead>
          <tr>
            <td class="column">{{ singleCompetition.name  }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="large-4 columns">Liczba sędziów : {{ singleCompetition.amount_of_referees  }}</td>
            <td class="large-4 columns">Skala ocen : {{ singleCompetition.range_of_rates  }}</td>
            <td class="large-4 columns">Typ ocen : {{ singleCompetition.type_of_rates  }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="groups"> 
      <h3>Grupy</h3>
      <ul >
        <li ng-repeat="competitionCategory in competitionCategories ">{{ competitionCategory.name }} <a href="" ng-click="startCategoryTransmision(competitionCategory._id)" class="">Rozpocznij transmisję </a></li>
      </ul>
    </div>
    
  
  <div class="transmisionOnLive" style="display: none">

    <h2>Rozpoczęto Transmisję</h2>
    <div class="large-6 columns">
      <h3>Sedziowie</h3>
       <ul>
         <li ng-repeat="showCategoryRef  in showCategoryRefs ">
           {{ showCategoryRef.firstName   }} {{ showCategoryRef.lastName   }}
         </li>
       </ul>
    </div>
    <div class="large-6 columns">
       <h3>Lista startowa</h3>
       <ul>
         <li ng-repeat="showCategoryStartList in showCategoryStartLists"> nr startowy:{{ showCategoryStartList.number }} pleć: {{ showCategoryStartList.gender }} Ocena ogólna: {{ showCategoryStartList.overall }} </li>
       </ul>
    </div>
    
    <h5>Oceny sędziów<a href="" ng-click="refreshMsgFromRef()"> <i class="fa fa-refresh" aria-hidden="true"></i></a></h5>
    <div id="msgFromRef"></div>
    <div class=" column buttonOne" ng-click="sendLiveTableToUser(singleCompetition._id)">Wyślij wyniki do Publiki</div>
     
    <form class="large-3 columns">
      <label>Wyślij nr Konia sędzią do oceny </label>
      
      <select ng-model="startListNumber" id="startListNumber">
         <option value="" ng-if="false"></option>
        <option ng-repeat="showCategoryStartList in showCategoryStartLists | orderBy: 'number'" >{{ showCategoryStartList.number }}</option>
      </select>
      
 
      <div class="buttonOne" id="sendToRefs">Wyslij do oceny</div>
    </form>
    
    <form class="large-9 columns">
      <label>Wyślij informacje do widzów </label>
      <input type="text" id="msgToWatcher">  
      <div class="buttonOne" id="sendToWatchers">Wyślij do widzów</div>
    </form>
    
    <form class="large-12 columns">
      <label>Wyślij informacje do sędziów </label>
      <input type="text" id="msgInfoToRefs">  
      <div class="buttonOne" id="sendInfoToRefs">Wyślij do Sędziów</div>
    </form>
      
    <div class="actualResults"></div>
    
  </div>



  <div class="single row tableList" >
    <h5>Wyniki</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
           <td>{{ competitionStartlist.overall }}</td>
          
        </tr>
      </tbody>
    </table>
  
  
    <h5>Ogiery</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkMale | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
            <td>{{ competitionStartlist.overall }}</td>
        </tr>
      </tbody>
    </table>
    
    <h5>Klacze</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkFemale  | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
           <td>{{ competitionStartlist.overall }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  <div class="row">
    <a href="" class="goBack" style="display:none">Powrót</a>
  </div>

    <% } %>
    
  <% } else { %>
  <div class="row">
    <h3>Nie jesteś zalogowany, treść dostępna tylko dla administratora strony</h3>
  </div>
  <% } %> 
</body>
</html>