<!DOCTYPE html>
<html lang="pl" ng-app="competition">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Zawody</title>
</head>
<body ng-controller="competitionCtrl">
<div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  <% if (isAuthenticated) { %>
    <% if (user.type=== 'admin') { %>
    <!-- Listowanie  Zawodów -->
  
  <div class="row tableList">
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-6 columns">nazwa</td>
            <td class="small-8 medium-2 columns"></td>
            <td class="small-12 medium-1 columns"></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="competition in competitions">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-8 columns">{{competition.name}}</td>          
            <td class="small-6 medium-2 columns"><a href="" ng-click="showSingleCompetition( competition._id )" >Ustawienia  <i class="fa fa-cogs" aria-hidden="true"></i></a></td> 
            <td class="small-12 medium-1 columns"><a href="" ng-click="removeCompetition( competition._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>   
   
  <!-- Pojedyncze Zawody -->
  <div class="single row tableList " style="display:none">
    <table >
      <thead>
        <tr>
          <td class="column">{{ singleCompetition.name  }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="large-4 columns">Liczba sędziów : {{ singleCompetition.amount_of_referees  }}</td>
          <td class="large-4 columns">Skala ocen : {{ singleCompetition.range_of_rates  }}</td>
          <td class="large-4 columns">Typ ocen : {{ singleCompetition.type_of_rates  }}</td>
        </tr>
      </tbody>
    </table>
    <h5>Lista sędziów</h5>

    <table >
      <thead>
        <tr>
          <td>imię</td>
          <td>nazwisko</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionRefereeList in competitionRefereeLists">
          <td>{{competitionRefereeList.firstName }}</td>
          <td>{{competitionRefereeList.lastName }}</td>
        </tr>
      </tbody>
    </table>

    
    <h5>Lista startowa</h5>
    <table >
      <thead>
        <tr>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists">
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
          
        </tr>
      </tbody>
    </table>

    <h3>Podział na kategorie</h3>
    <h5>Ogiery</h5>
    <table >
      <thead>
        <tr>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkMale ">
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
          
        </tr>
      </tbody>
    </table>
    
    <h5>Klacze</h5>
    <table >
      <thead>
        <tr>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkFemale ">
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
          
        </tr>
      </tbody>
    </table>
    
    <h3>Grupy</h3>
    <ul>
      <li ng-repeat="competitionCategory in competitionCategories ">{{ competitionCategory.name }} <a href="" ng-click="showSingleCategory(  competitionCategory._id )" class="showSingleCompCategory">Pokaż</a>  <a href="" ng-click="removeCategory(  competitionCategory._id, singleCompetition._id )"  ><i  class="fa fa-trash" aria-hidden="true"></i></a></li>
    </ul>

  </div>
     
  <div class="refereeList" style="display:none">
   <div class="blackShadow"></div>
    <div class="close"><a class="closeAddPanel" href=""><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></div>
    <h3> Stwórz Liste Sędziów</h3>
    <form name="refereeListAddform" class="myform">
     
      <div class="column">
        <select ng-model="referee_id">
          <option ng-repeat="referee in referees" value="{{referee._id}}"> {{referee.firstName}} {{referee.lastName}}  </option>
        </select>
      </div>
          
          
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click='addToRefereeList( singleCompetition._id)' value="Dodaj do listy startowej" />  
      </div>
  
    </form>
  </div>
    <!-- Tworzenie Listy startowej -->
  <div class="startList" style="display:none">
    <div class="blackShadow"></div>
    <div class="close"><a  class="closeAddPanel" href=""><i class="fa fa-times-circle-o" aria-hidden="true"></i></a></div>
    <h3> Dodaj do listy startowej</h3>
    <form name="startListAddform" class="myform">
     
      <div class="column">
        <select ng-model="horse_id">
          <option ng-repeat="horse in horses | orderBy : 'name'" value=" {{horse._id }}" > {{horse.name}} {{horse.bornDate}} {{horse.owner}} </option>
        </select>
      </div>
          
          
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click='addToStartList( singleCompetition._id)' value="Dodaj do listy startowej" />  
      </div>
  
    </form>
  </div>
  
  <div class=" row showCompCatSingle" style="display:none ">
    <table >
      <thead>
        <tr>
          <td class="column">{{ showCategory.name  }}</td>
        </tr>
      </thead>
      <tbody>
       <tr>
         <td><h3>Sędziowie</h3></td>
       </tr>
        <tr ng-repeat="resf in showCategoryRefs">

        <td>
            {{ resf.firstName }}
        </td>
        </tr>
        <td><h3>Konie</h3></td>
        <tr ng-repeat="hr in showCategoryHorses">
          <td>{{  hr.horse[0].name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tworzenie Kategorii -->
  
  <div class="form row category" style="display:none">
    <h3> Stwórz Grupę</h3>
    <form name="categoryAddform" class="myform">
     
      <div class="column">
        <label for="category_name">Nazwa Grupy:</label>
        <input name="category_name"  class="inputVal categoryName" type="text" ng-model="category_name" ng-minlengtH="3" required autocomplete="off">
      </div>
      
      <div class="column">
        <h5>Sedziowie:</h5>
        <div ng-repeat="competitionRefereeList in competitionRefereeLists">
          <input type="checkbox"   
          value="{{competitionRefereeList._id}}" 
          ng-checked="refereeSelection.indexOf(competitionRefereeList) > -1" 
          ng-click="toggleRefereeSelection(competitionRefereeList._id)">
         {{ competitionRefereeList.firstName }}
         {{ competitionRefereeList.lastName }}
        </div>

      </div>
      
      <div class="column">
        <h5>Lista startowa:</h5>
        <div class="toggleGender">
          <span class="setCategoryFemale activeCat" ng-click="setFemaleCat()">klacze</span>
          <span class="setCategoryMale" ng-click="setMaleCat()">Ogiery</span>
        </div>
        <div ng-repeat="competitionStartlist in competitionStartlists | filter: checkGender | orderBy: 'horse[0].name'">

          <input type="checkbox" 
          value="{{competitionStartlist._id}}" 
          ng-checked="horsesSelection.indexOf(competitionStartlist) > -1" 
          ng-click="toggleHorsesSelection(competitionStartlist._id)">
         {{ competitionStartlist.horse[0].name }}
         {{ competitionStartlist.horse[0].bornDate }} 
        </div>
      </div>
      
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click='createCategoryToCompetition( singleCompetition._id)' value="Stwórz grupę" />  
      </div>
  
    </form>
  </div>
  
  
  
   <div class="row">
    <a href="" class="createStartlistButton" style="display:none" >
       Dodaj do listy startowej
    </a><br>
    <a href="" class="createRefereelistButton" style="display:none" >
       Dodaj sędziego do zawodów
    </a>
       <br>
    
    <a href="" class="createCategoryButton" style="display:none">
       Stworz grupę
    </a>
   </div>
  <!-- Przycisk do powrotu do strony poczatkowej -->
  <div class="row">
    <a href="" class="goBack" style="display:none">Powrót</a>
  </div>
  

  
  <!-- Przycisk do wyświetlenia panelu z dodawaniem -->  
  <div class="row">
    <a href="" class="addPanel" ><i class="fa fa-angle-down" aria-hidden="true"></i>
 panel dodawania</a>  
  </div>



  <!-- Tworzenie Zawodów -->
  <div class="form competitionAdd row" style="display:none">
    <h3> Stwórz zawody</h3>
    <form name="categoryAddform" class="myform">
     
      <div class="column">
        <label for="name">Nazwa zawodów:</label>
        <input name="name"  class="inputVal name" type="text" ng-model="name" ng-minlengtH="3" required autocomplete="off">
      </div>
     
      <div class="column">
        <label for="amount_of_referees">liczba sędziów:</label>
        <input name="amount_of_referees"  class="inputVal amountOfReferees " type="text" ng-model="amount_of_referees" ng-minlengtH="1" ng-pattern="/^[0-8]$/" required autocomplete="off">
      </div>
      
      <div class="column">
        <label for="range_of_rates">skala ocen:</label>
        <input name="range_of_rates"  class="inputVal rangeOfRates" type="text" ng-model="range_of_rates" ng-minlengtH="1" ng-pattern="/^([0-2]0)$/" required autocomplete="off">
      </div>
      
      
      <div class="column">
        <input type="radio" ng-model="type_of_rates" name="type_of_rates" value="całkowite"> liczby całkowite<br>
        <input type="radio" ng-model="type_of_rates" name="type_of_rates" value="rzeczywiste"> Liczby rzeczywiste<br>
      </div>
          
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click="addCompetition()" value="Stwórz zawody" />  
      </div>
  
    </form>
  </div>
    

    <% } %>
    
  <% } else { %>
  <div class="row">
    <h3>Nie jesteś zalogowany, treść dostępna tylko dla administratora strony</h3>
  </div>
  <% } %> 

</body>
</html>