<!DOCTYPE html>
<html lang="pl" ng-app="competition">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Zawody</title>
</head>
<body ng-controller="competitionCtrl">
<div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  

    <!-- Listowanie  Zawodów -->
  
  <div class="row tableList">
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-8 columns">nazwa</td>
            <td class="small-12 medium-2 columns"></td>
            <td class="small-12 medium-1 columns"></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="competition in competitions">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-8 columns">{{competition.name}}</td>      
            <td class="small-6 medium-2 columns"><a href="" ng-click="showSingleCompetition( competition._id )" >Zobacz więcej</a></td> 

          </tr>
        </tbody>
      </table>
  </div>    



<div class="single row tableList" style="display:none">
    <table >
      <thead>
        <tr>
          <td class="column"><h3>{{ singleCompetition.name  }}</h3></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="large-4 columns">Liczba sędziów : <b>{{ singleCompetition.amount_of_referees  }}</b></td>
          <td class="large-4 columns">Skala ocen : <b>{{ singleCompetition.range_of_rates  }}</b></td>
          <td class="large-4 columns">Typ ocen : <b>{{ singleCompetition.type_of_rates  }}</b></td>
        </tr>
      </tbody>
    </table>
    <h5>Lista sędziów</h5>

    <table >
      <thead>
        <tr>
          <td>imię</td>
          <td>nazwisko</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionRefereeList in competitionRefereeLists">
          <td>{{competitionRefereeList.firstName }}</td>
          <td>{{competitionRefereeList.lastName }}</td>
        </tr>
      </tbody>
    </table>

    
    <h5>Lista startowa</h5>
    <table >
      <thead>
        <tr>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists">
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
          
        </tr>
      </tbody>
    </table>

    <h4>Podział na płeć</h4>
    <h5>Ogiery</h5>
    <table >
      <thead>
        <tr>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkMale ">
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
          
        </tr>
      </tbody>
    </table>
    
    <h5>Klacze</h5>
    <table >
      <thead>
        <tr>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkFemale ">
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
        </tr>
      </tbody>
    </table>
    
    <div class="groups">
      <h3>Grupy</h3>
      <ul>
        <li ng-repeat="competitionCategory in competitionCategories ">{{ competitionCategory.name }} <a href="" ng-click="showSingleCategory(  competitionCategory._id )" class="showSingleCompCategory">Pokaż</a></li>
      </ul>      
    </div>


  
  
  
    <div class="  showCompCatSingle" style="display:none ">
      <table >
        <thead>
          <tr>
            <td class="column"><h4>{{ showCategory.name  }}</h4></td>
          </tr>
        </thead>
        <tbody>
         <tr>
           <td><h5>Sędziowie</h5></td>
           <td></td>
         </tr>
          <tr ng-repeat="resf in showCategoryRefs">
            <td>{{ resf.firstName }}</td>
            <td>{{ resf.lastName }}</td>
          </tr>
          <td><h5>Konie</h5></td>
          <td></td>
          <tr ng-repeat="hr in showCategoryHorses">
            <td>{{  hr.horse[0].name }}</td>
            <td>{{  hr.horse[0].bornDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
    <h5>Wyniki</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
           <td>{{ competitionStartlist.overall }}</td>
          
        </tr>
      </tbody>
    </table>
  
  
    <h5>Ogiery</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkMale | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
            <td>{{ competitionStartlist.overall }}</td>
        </tr>
      </tbody>
    </table>
    
    <h5>Klacze</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkFemale  | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
           <td>{{ competitionStartlist.overall }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <div class="row">
    <a href="" class="goBack" style="display:none"><i class="fa fa-arrow-left" aria-hidden="true">   </i> Powrót</a>
  </div>
  

</body>
</html>