<!DOCTYPE html>
<html lang="en" ng-app="horse">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Konie</title>
</head>
<body ng-controller="horseCtrl">
  <div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  <% if (isAuthenticated) { %>
    <% if (user.type=== 'admin') { %>
  <div class="row tableList">
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-3 columns">nazwa</td>
            <td class="small-6 medium-2 columns">pleć</td>
            <td class="small-6 medium-2 columns">data urodzenia</td>
            <td class="small-12 medium-3 columns">właściciel</td>
            <td class="small-12 medium-1 columns"></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="horse in horses">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-3 columns">{{horse.name}}</td>      
            <td class="small-6 medium-2 columns">{{horse.gender}}</td>      
            <td class="small-6 medium-2 columns">{{horse.bornDate}}</td>      
            <td class="small-6 medium-3 columns">{{horse.owner}}</td>      
            <td class="small-12 medium-1 columns"><a href="" ng-click="removeHorse( horse._id)"><i class="fa fa-trash" aria-hidden="true"></i></a><a href="" ng-click="editReferee( referee._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a</td>        
          </tr>
        </tbody>
      </table>
  </div>   
  
  
  
  <div class="row">
    <a href="" class="addPanel" >Pokaż panel dodawania</a>  
  </div>
  <div class="form row">
  
    <form name="horsesAddform" class="myform">
     
      <div class="column">
        <label for="name">Imię konia:</label>
        <input name="name"  class="inputVal name" type="text" ng-model="name" ng-minlengtH="3" required autocomplete="off">
      </div>
     
      <div class="column">
        <input type="radio" ng-model="gender" name="gender" value="ogier"> Ogier<br>
        <input type="radio" ng-model="gender" name="gender" value="klacz"> Klacz<br>
      </div>
      
      <div class="column">
        <label for="bornDate">data urodzenia: (YYYY-MM-DD)</label>
        <input ng-model="bornDate"  name="bornDate" class="inputVal bornDate" type="text"  ng-minlengtH="5" ng-pattern="/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" required autocomplete="off">
      </div>
      
      
      <div class="column">
        <label for="owner">Właściciel</label>
        <input name="owner"  class="inputVal owner" type="text" ng-model="owner" ng-minlengtH="3" required autocomplete="off">
      </div>

      
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click="addNewHorse()" value="Dodaj konia" />  
      </div>
  
    </form>
  </div>
  
    <% } %>
    
  <% } else { %>
  <div class="row">
    <h3>Nie jesteś zalogowany, treść dostępna tylko dla administratora strony</h3>
  </div>
  <% } %> 
  
</body>

</html>