<!DOCTYPE html>
<html lang="pl" ng-app="onlive">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <script src="../js/live.js"></script>
    <title>Transmisja</title>
    
    <script>  
      
      
    $( document ).ready(function() {
        var liveT = io('https://' + location.host + '/liveT');
            var chat= document.getElementById("chat");
        //Odbieranie wiadomości od Admina
        liveT.on('message', function (data) {
          
            console.log(data);
            var clearContainer = $('#liveForUsers ul');
            clearContainer.remove()
            var container = $('#liveForUsers');
            
            var ul = $('<ul></ul>');
           
            container.append(ul);
            ul.append( data );
  
        });

            
    });
  
    </script>
</head>
<body ng-controller="liveCtrl">
  <div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  
  
  
  
  <div class="row">
    
    
    <!-- Div do dodania wiadomosci -->
    <div class="column text-center" id="liveForUsers">
     <span>Transmisja online</span>
      <ul id="chat">

      </ul>
      
      
    </div>
    
    
    
    <div class="results tableList">
      <h3>Wyniki na żywo </h3>
      <table>
        <thead>
          <tr>
            <td>Nazwa zawodów: {{singleCompetition.name }}</td>
            <td>liczba sędziów: {{singleCompetition.amount_of_referees }}</td>
          </tr> 
        </thead>
        <tbod>
          <tr ng-repeat="competitionStartlist in competitionStartlists | orderBy: '-overall' | limitTo: 10">
            <td>{{ $index+1 }}</td>
            <td>{{ competitionStartlist.number}}</td>
            <td>{{ competitionStartlist.horse[0].name}}</td>
            <td>{{ competitionStartlist.horse[0].bornDate}}</td>
            <td>{{ competitionStartlist.horse[0].owner}}</td>
            <td>{{ competitionStartlist.overall }}</td>
          </tr>
        </tbod>
        
      </table>
      
      
      
<h5>Ogiery</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkMale | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
            <td>{{ competitionStartlist.overall }}</td>
        </tr>
      </tbody>
    </table>
    
    <h5>Klacze</h5>
    <table >
      <thead>
        <tr>
          <td>miejsce</td>
          <td>numer startowy</td>
          <td>nazwa konia</td>
          <td>płeć</td>
          <td>data urodzenia</td>
          <td>własciciel</td>
          <td>wynik</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="competitionStartlist in competitionStartlists | filter: checkFemale  | orderBy : '-overall'">
           <td>{{ $index+1 }}</td>
           <td>{{ competitionStartlist.number }}</td>
           <td>{{ competitionStartlist.horse[0].name }}</td>
           <td>{{ competitionStartlist.horse[0].gender }}</td>
           <td>{{ competitionStartlist.horse[0].bornDate }}</td>
           <td>{{ competitionStartlist.horse[0].owner }}</td>
           <td>{{ competitionStartlist.overall }}</td>
        </tr>
      </tbody>
    </table>
      
      
    <h3>Grupy</h3>
    <ul>
      <li ng-repeat="competitionCategory in competitionCategories ">{{ competitionCategory.name }} <a href="" ng-click="showStartListCategory(singleCompetition._id , competitionCategory._id )" class="showSingleCompCategory">Pokaż wyniki grupy</a>  </li>
    </ul>
      
     <div class="tableList liveCategoryTable" style="display:none">
       <table>
         <thead>
           <tr>
             <td>Miejsce:</td>
             <td>numer startowy:</td>
             <td>imię:</td>
             <td>płeć:</td>
             <td>data urodzenia:</td>
             <td>właściciel:</td>
             <td>ocena ogólna:</td>
           </tr>
         </thead>
         <tbody>
           <tr  ng-repeat="startListCategory in startListCategories | orderBy : '-overall'">
             <td>{{ $index+1  }}</td>
             <td>{{ startListCategory.number }}</td>
             <td>{{ startListCategory.horse[0].name }}</td>
             <td>{{ startListCategory.horse[0].gender }}</td>
             <td>{{ startListCategory.horse[0].bornDate }}</td>
             <td>{{ startListCategory.horse[0].owner }}</td>
             <td>{{ startListCategory.overall }}</td>
           </tr>
         </tbody>
       </table>
     </div>
                  
      <a href="/competitionlist" >pełne wyniki wszystkich zawodów znajdziesz tu</a>
   
    </div>
    
    

  </div>
</body>
</html>