<!DOCTYPE html>
<html lang="en" ng-app="referee">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Sędziowie</title>
</head>
<body ng-controller="refereeCtrl">
  <div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  <% if (isAuthenticated) { %>
    <% if (user.type=== 'admin') { %>
  <div class="row tableList">
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-2 columns">Imię</td>
            <td class="small-6 medium-2 columns">Nazwisko</td>
            <td class="small-6 medium-2 columns">Email</td>
            <td class="small-6 medium-2 columns">Nick</td>
            <td class="small-12 medium-1 columns"></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="referee in referees">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-2 columns">{{referee.firstName}}</td>
            <td class="small-6 medium-2 columns">{{referee.lastName}}</td>
            <td class="small-6 medium-2 columns">{{referee.email}}</td>
            <td class="small-6 medium-2 columns">{{referee.username}}</td>         
            <td class="small-12 medium-1 columns"><a href="" ng-click="removeReferee( referee._id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            <a href="" ng-click="editReferee( referee._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a></td>        
          </tr>
        </tbody>
      </table>
  </div>  
  
  
  <div class="row">
    <a href="" class="addPanel" >Pokaż panel dodawania</a>  
  </div>   
  <div class="form row">
     <h4 class="registerError" style="display:none">Użytkownik o nicku: {{ username }} już istnieje !</h4>
     <h4 class="registerAccept" style="display:none">Udało Ci się zarejestrować użytkownika: {{ username }} !</h4>
     
    <form name="refereeAddform" class="myform">
     
      <div class="column">
        <label for="firstName">Imię:</label>
        <input name="firstName"  class="inputVal firstName" type="text" ng-model="firstName" ng-minlengtH="3" required autocomplete="off">
      </div>
     
      <div class="column">
        <label for="lastName">Nazwisko:</label>
        <input name="lastName"  class="inputVal lastName" type="text" ng-model="lastName" ng-minlengtH="3" required autocomplete="off">
      </div>
      
      <div class="column">
        <label for="email">Email:</label>
        <input data-ng-model="emailAdress"  name="email" class="inputVal email" type="text"  ng-minlengtH="5" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required autocomplete="off">
      </div>
      
      
      <div class="column">
        <label for="username">Nick:</label>
        <input name="username"  class="inputVal username" type="text" ng-model="username" ng-minlengtH="3" required autocomplete="off">
      </div>
      
      <div class="column">
        <label for="pass">Hasło:</label>
        <input name="pass" class="inputVal pass" type="password" ng-model="password" ng-minlengtH="5" required>
      </div>
      
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click="addNewReferee()" value="Dodaj sędziego" />  
      </div>
  
    </form>
  </div>
      
    <% } %>
    
  <% } else { %>
  <div class="row">
    <h3>Nie jesteś zalogowany, treść dostępna tylko dla administratora strony</h3>
  </div>
  <% } %>  
</body>

</html>