<!DOCTYPE html>
<html lang="pl" ng-app="refereePanel">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Zawody</title>
    
</head>
<body ng-controller="refPanelCtrl">
<div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  
    
  <% if (isAuthenticated) { %>
    <% if (user.type=== 'referee') { %>
  
  
  
  
  <div class="row tableList mainRefPanel">
      
      
       <h3>Kategorie w których obecnie sędziuje</h3>
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-8 columns">nazwa</td>
            <td class="small-12 medium-2 columns"></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="singleRefereeLiveCategory in  singleRefereeLiveCategories">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-8 columns">{{singleRefereeLiveCategory.name}}</td>      
            <td class="small-6 medium-2 columns"><a href=""  ng-click="showLiveRefCategory(singleRefereeLiveCategory._id)" >Sędziuj</i></a></td> 
          </tr>
        </tbody>
      </table>
      
       <h3>Zawody obecnie transmitowane w których sędziuję</h3>
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-8 columns">nazwa</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="singleRefereeLiveCompetition in  singleRefereeLiveCompetitions">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-8 columns">{{singleRefereeLiveCompetition.name}}</td>      
          </tr>
        </tbody>
      </table>
      
    
    
       <h3>Zawody w których sędziuję</h3>
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-8 columns">nazwa</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="singleRefereeCompetition in  singleRefereeCompetitions">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-8 columns">{{singleRefereeCompetition.name}}</td>      
          </tr>
        </tbody>
      </table>
      
       <h3>Kategorie w których sędziuje</h3>
      <table>
        <thead>
          <tr>
            <td class="small-6 medium-1 columns">nr.</td>
            <td class="small-6 medium-8 columns">nazwa</td>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="singleRefereeCategory in  singleRefereeCategories">
            <td class="small-6 medium-1 columns">{{$index+1}}</td>
            <td class="small-6 medium-8 columns">{{singleRefereeCategory.name}}</td>      

          </tr>
        </tbody>
      </table>
    
  </div>
  
  
  <div class="judgePanel tableList row" style="display: none">
     <table>
       <thead>
         <tr>
           <td><h3>{{ LiveRefCategory._competition[0].name }}</h3></td>
           <td></td>
           <td></td>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Sędzia: <span id="refName">{{refereeInfo.firstName}} {{refereeInfo.lastName}}</span></td>
           <td></td>
           <td></td>
         </tr>
         <tr>
           <td>Maksymalna ocena : {{ LiveRefCategory._competition[0].range_of_rates }}</td>
           <td>Typ ocen : {{ LiveRefCategory._competition[0].type_of_rates }}</td>
           <td>Nazwa Kategorii : {{ LiveRefCategory.name }} </td>
         </tr>
       </tbody>
       
     </table>
     <div id="infoFromAdmin" class="error" style="display:none">
       
     </div>
     <div class="actualHorse text-center">
       <h2>Numer Konia </h2><span> {{  horseNumber  }}</span>  
     </div>
     
    <form name="addRefereeRateform" >
     
      <div class="medium-4 columns">
        <label for="rate_type">Typ:</label>
        <input name="rate_type"  type="number" class="refInputVal" max="{{LiveRefCategory._competition[0].range_of_rates}}" ng-model="rate_type" required autocomplete="off">
      </div>
      
      <div class="medium-4 columns">
        <label for="rate_head">Głowa i szyja:</label>
        <input name="rate_head" type="number" class="refInputVal" max="{{LiveRefCategory._competition[0].range_of_rates}}" ng-model="rate_head"  required autocomplete="off">
      </div>
      
      
      <div class="medium-4 columns">
        <label for="rate_log">Kłoda:</label>
        <input name="rate_log" type="number" class="refInputVal" max="{{LiveRefCategory._competition[0].range_of_rates}}" ng-model="rate_log"  required autocomplete="off">
      </div> 
      
      <div class="medium-6 columns">
        <label for="rate_legs">Nogi:</label>
        <input name="rate_legs" type="number" class="refInputVal" max="{{LiveRefCategory._competition[0].range_of_rates}}" ng-model="rate_legs" required autocomplete="off">
      </div>
      
      <div class="medium-6 columns">
        <label for="rate_motion">Ruch:</label>
        <input name="rate_motion"  type="number" class="refInputVal" max="{{LiveRefCategory._competition[0].range_of_rates}}" ng-model="rate_motion"  required autocomplete="off">
      </div>
      <!--
      <div class="medium-4 columns text-center">
        <div class="buttonOne" id="sendRateToAdmin" class="refInputVal"  style="margin-top:20px;">Wyślij Ocenę</div>
      </div>-->

    </form>
    
  </div>
  
  <div class="row">
    <a href="" class="goBack" style="display:none">Powrót</a>
  </div>
    <% } %>
    
  <% } else { %>
  <div class="row">
    <h3>Nie jesteś zalogowany, treść dostępna tylko dla administratora strony</h3>
  </div>
  <% } %> 
  
</body>
</html>