<!DOCTYPE html>
<html lang="pl" ng-app="register">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
    <script src="../js/script.js"></script>
    <title>Zarejestruj</title>
</head>
<body>
  <div class="blackShadow"></div>
   <div class="myMenu menu-centered">
     <ul class="menu">
       <li class="logo"><a  href="/">HorsesTournaments</a> <i class="fa fa-bars" aria-hidden="true"></i></li>
       <li><a href="/competitionlist">Zawody</a></li>
       <li><a href="/live">Transmisje</a></li>
       <% if (isAuthenticated ) { %>
         <% if (user.type=== 'referee') { %> 
       <li><a href="/refereePanel">Panel Sędziowski</a></li>
         <% } %>
         <% if (user.type=== 'admin') { %> 
         <li class="secMenu"><a href="">Panel Administratora</a>
             <ul class="submenu">
               <li><a href="/referee">Sędziowie</a></li>
               <li><a href="/horses">Konie</a></li>
               <li><a href="/competitions">Zawody</a></li>
               <li><a href="/adminTransmisions">Transmisje Zawodów</a></li>
             </ul>
         </li>
         <% } %>
       <li>
          <a href="/logout">Wyloguj</a>
       </li>  
       <% } else { %>
       <li>
          <a href="/register">Zarejestruj</a>
       </li>
       <li>
          <a href="/login">Zaloguj</a>
       </li>
        <% } %>  
    </ul>
  </div>
  
  <div class="form row" ng-controller="registrationCtrl">
   
     <h4 class="registerError" style="display:none">Użytkownik o nicku: {{ username }} już istnieje !</h4>
     <h4 class="registerAccept" style="display:none">Udało Ci się zarejestrować użytkownika: {{ username }} !</h4>
     
    <form name="registerform" class="myform">
     
      <div class="column">
        <label for="email">Email:</label>
        <input data-ng-model="emailAdress"  name="email" class=" email inputVal" type="text"  ng-minlengtH="5" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required autocomplete="off">
        
        <span ng-show="registerform.email.$error.required">Pole wymagane!  </span>
        <span ng-show="registerform.email.$error.minlength">Za krótkie ! </span>
        <span ng-show="registerform.email.$error.pattern">Zły format ! </span>
      </div>
      
      <div class="column">
        <label for="username">Nick:</label>
        <input name="username"  class="username inputVal" type="text" ng-model="username" ng-minlengtH="3" required autocomplete="off">
        
        <span ng-show="registerform.username.$error.required">Pole wymagane!  </span>
        <span ng-show="registerform.username.$error.minlength">Za krótkie ! </span>
      </div>
      
      <div class="column">
        <label for="pass">Hasło:</label>
        <input name="pass" class=" pass inputVal" type="password" ng-model="password" ng-minlengtH="5" required>
        
        <span ng-show="registerform.pass.$error.required">Pole wymagane!  </span>
        <span ng-show="registerform.pass.$error.minlength">Za krótkie ! </span>
      </div>
      
      <div class="column text-center">
        <input type="submit" class="buttonOne" ng-click="registerNew()" value="Zarejestruj" />  
      </div>
  
    </form>
  </div>
</body>

    <script>
  
    $( document ).ready(function() {  
      //Formularze
      $(".email").on( 'focus', function(){
        $('label[for="email"]').addClass('onFocus');
      });
      $(".email").on( 'blur', function(){
        if($(this).val() === '') {
          $('label[for="email"]').removeClass('onFocus');
        };
      });
      $(".username").on( 'focus', function(){
        $('label[for="username"]').addClass('onFocus');
      });
      $(".username").on( 'blur', function(){
        if($(this).val() === '') {
          $('label[for="username"]').removeClass('onFocus');
        };
      });
      $(".pass").on( 'focus', function(){
        $('label[for="pass"]').addClass('onFocus');
      });
      $(".pass").on( 'blur', function(){
        if($(this).val() === '') {
          $('label[for="pass"]').removeClass('onFocus');
        };
      });
    });
    </script>
</html>