@fontColor: #696969;
@lightenFont: lighten(#696969,30%);
@colorOne: #133d5b;
@colorTwo: #007B5B;
@errorColor: #ed1c24;
@successColor: #228B22;
@logo: 'ABeeZee', sans-serif;
@transOne: all .3s ease;

label {
  color:#fff;
}
//Błąd w formularzu
.inputVal.ng-valid {
  //background-color: pink;
  border: 0;
  border-bottom: 3px solid @successColor;
}
.inputVal.ng-invalid {
  //background-color: red;
  border: 0;
  border-bottom: 3px solid @errorColor;
}
.inputNoVal {
  border: 0;
  border-bottom: 3px solid @colorOne;
  &:focus{
    border: 0;
    border-bottom: 3px solid @colorOne;
  }
}
.refInputVal.ng-invalid{
  transition: @transOne;
  border: 3px solid @errorColor;
  background-color: @errorColor;
}

.refInputVal.ng-valid {
  transition: @transOne;
  border: 3px solid @successColor;
  background-color:  @successColor;
}
.refInputVal{
  &:focus {
    box-shadow: none !important;
  }
}
.error {
  color: @errorColor;
  border: 3px solid @errorColor;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.saved{
  background-color: @colorTwo !important;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  padding: 10px 15px;
  color: @lightenFont !important;
  border: 3px solid @colorTwo;
  border-bottom: 3px solid darken(@colorTwo,10%);
}
//Animacja na focusie na inputach
.onFocus {
  transition: all .3s ease-in;
  top: 20px !important;
  color: @lightenFont !important;
}

.buttonOne {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  color: @lightenFont !important;
  background-color: @colorOne !important;
  border: 3px solid @colorOne;
  border-bottom: 3px solid darken(@colorOne,10%);
  &:hover {
    transition: all .3s ease;
    background-color: transparent !important;
  }
}
#msgFromRef {
  border: 3px solid @colorOne;
      height: 280px;
    display: block;
    position: relative;
    overflow-y: scroll;
}
.rate {
  border-bottom: 3px solid @fontColor;
  border-top: 3px solid @fontColor;
  tbody{
    border: 0;
    background-color: transparent;
  }
}
body {
  position: relative;
  background: url(../img/kon1.jpg);
  background-color: #2f3238;
  background-size: 100%;
  background-repeat: no-repeat !important;
  transition: all 1s ease;
  background-attachment: fixed !important;
  color: @lightenFont;
  z-index: 0;
}
//Nakładka do przyciemnienia ekranu
.blackShadow {
  top:0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -1;
  opacity: .9;
}

//Menu
.myMenu {
  position: relative;
  width: 100%;
  z-index: 2;
 // text-align: center;
  //background-color: @colorOne;
   margin-bottom: 70px;
  .menu{
    margin-top: 10px;
    text-align: center;
    .logo {
      font-family: @logo;
      font-size: 22px;
      text-shadow: 1px 1px 0px #000;
      position: absolute;
      left: 20px;
      top: 16px;
      a {
        &:hover {
          //color: @lightenFont;
        }
      }
      
      i {
        display: none;
      }
    }
    li {
      //min-width: 120px;
      list-style: none;
      position: relative;
      min-width: 80px;
      a {
        color: @lightenFont;
        font-weight: 600;
        transition: @transOne;
        &:hover {
          color: @fontColor;
          transition: @transOne;
        }
      }

    }
    .secMenu {
      .submenu {
        display: none;
        margin: 0;
        position: absolute;
        //left: -50%;
        li{
          
          background-color: @colorOne;
         // width: 200px;
        }
      }
      &:hover {
        .submenu {
          display: block;
        }
      }
    }
  }
  &:after {
    background: none repeat scroll 0 0  @colorOne;
    top: -80px;
    left: 0;
    content: "";
    height: 140px;
    position: absolute;
    width: 100%;
    z-index: -1;
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -moz-box-shadow: 0 -7px 65px 0 rgba(50,50,50,0.22);
    -webkit-box-shadow: 0 -7px 65px 0 rgba(50,50,50,0.22);
    box-shadow: 0 -7px 65px 0 rgba(50,50,50,0.22);
  }
}

//formularze

.form {
  color: @fontColor;
  padding: 20px 10px;
  .myform {
    div {
      position: relative;
      label {
        position: relative;
        top: 50px;
        left: 2px;
        z-index: -1;
        font-weight: 600;
        color: @fontColor;
        transition: all .3s ease-in;
      }
      input {
        color: @fontColor;
        position: relative;
        background-color: transparent;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 20px;
        &:focus {
          box-shadow: none;
        }
      }
      span {
        font-size: 12px;
        opacity: .5;
        //display: block;
        
      }
    }
  }
}

//Tabele
.tableList{
  //background-color: red;
  color: @lightenFont;
  h5,h4{
    padding-left: 10px;
    font-weight: 600;
  }
  table {
    border: 0;
    background-color: transparent;
    thead {
      color: @lightenFont;
      border: 0;
      background-color: transparent;
      border-bottom: 3px solid @colorOne;
      tr{
        td{
          h3{
            font-weight: 600;
          }
        }
      }
    }
    tbody{
      border: 0;
       background-color: transparent;
      tr{
        &:nth-child(even){
          background-color: @colorOne;

        }
        td{

          a {
            text-transform: uppercase;
            font-weight: 600;
            color: @lightenFont;
            transition: @transOne;
            &:hover {
              color: @fontColor;
              transition: @transOne;
            }
          }
        }
      }
    }
  }
}
.groups{
  h3{
    text-transform: uppercase;
    font-weight: 600;
  }
  ul{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    li{
      padding: 10px 20px;
      list-style: none;
      font-weight: 600;
     // border-bottom: 3px solid @colorOne;
      a{
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.judgePanel {
  .actualHorse{
    span {
      font-size: 48px;
      font-weight: 600;
    }
  }
}

///Powrót
.goBack {
  color: @lightenFont;
  text-transform: uppercase;
  font-weight: 600;
  transition: @transOne;
  &:hover {
    transition: @transOne;
  }
  
}

//Live transmisja dla Userór
#liveForUsers {
  text-align: center;
  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }
  ul {
    height: 35vh;
    max-height: 600px;
    margin: 20px 0;
    border: 4px solid @colorOne;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    overflow-y: scroll;
    li{
      font-weight: 600;
      list-style: none;
      text-align: left;
      padding:10px 20px;
      &:nth-child(even){
        background-color: @colorOne;
      }
    }
  }
}


.setCategoryMale,
.setCategoryFemale{
  color: @lightenFont;
  cursor: pointer;
  padding: 5px 10px;
  background-color: @colorOne;
  //opacity: 1 !important;
}
.activeCat {
  opacity: 1 !important;
}
.refereeList,
.startList {
      position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
   // background-color: black;
    z-index: 100;
   // left: 46px;
    margin: 0px auto;
    //left: 13%;
    display: -moz-grid;
    //opacity: 0.8;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  .blackShadow{
    opacity: .7;
  }
  .close {
    position: fixed;
    right: 10px;
    top: 10px;
    a {
      i{
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width:55rem){
  .myMenu{
    background-color: @colorOne;
    .menu {
      margin-top: 45px;
      width: 100%;
      //display: none;
      .logo{
        position: relative;
        left: 0;
        top: 0;
        a{
          &:hover {
            background-color: @colorOne;
          }
        }
        i{
          display: block;
          position: absolute;
          right: 15px;
          top: -35px;
          color: @lightenFont;
          font-size: 22px;
          cursor: pointer;
        }
      }
      li{
        display: block;
        
        a{
          display: block;
          background-color: @colorOne;
          width: 100%;
          &:hover {
            z-index: 2;
            position: relative;
            background-color: black;
          }
        }
      }
      .secMenu {
        .submenu {
          display: block;
          position: relative;
        }
      }
    }
    &:after {
      background: transparent;
    }
  }
  
  
  .tableList{
    table{
      thead {
        
      }
      tbody{
        tr {
          td{
            text-align: center;
          }
        }
      }
    }
  }
  
}

